* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ce7532;
}

p {
    color: white;
    font-family: "temeraire", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 50px;
}

a { 
    text-decoration: none;
    color: black;
    font-family: "temeraire", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 50px;
    padding: 4px;
    transition-duration: 2s;
}

a:hover { 
    color: #262626;
    transform: scale(0.5);
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 30%;
    margin-left: 15%;
}