* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ce7532;
}

p {
    color: white;
    font-family: "coolvetica", sans-serif;
    font-weight: 300;
    font-size: 50px;
    padding: 1%;
}

a { 
    text-decoration: none;
    color: black;
    font-family: "temeraire", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 50px;
    padding: 4px;
    transition-duration: 1s;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 30%;
    margin-left: 60%;
}

.building1:hover {
    animation-name: buildingAnimate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

